[Desktop Entry]
Categories=Office;Education;Utility;
Comment={{comment}}
Exec={{exec}}
Icon={{icon}}
Name={{name}}
StartupNotify=true
StartupWMClass={{exec}}
Terminal=false
Type=Application
